/*
# -- BEGIN LICENSE BLOCK ---------------------------------------
#
# This file is part of Dotclear 2.
#
# Copyright (c) 2003-2011 Olivier Meunier & Association Dotclear
# Licensed under the GPL version 2.0 license.
# See LICENSE file or
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#
# -- END LICENSE BLOCK -----------------------------------------
*/
body {
	margin: 0;
	padding: 0;
	/*background: #e0e0e0 url(img/body-bg.png) repeat-x top;*/
	background: #636B70 url(img/bg.png) top left no-repeat;;
	color: #6b6b6b;
	font: 62.5% "Lucida Grande",Arial,sans-serif;
}

a {
	color: #279ac4;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color:#708FAB;
	text-decoration: underline;
}

a img {
	border: none;
}

pre {
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
}

sup {
	font-size:80%;
	line-height:50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* Layout
-------------------------------------------------------- */
#page {
	font-size: 1.2em;
}

#top {
	position: relative;
	height: 100px;
	width: auto;
	padding: 0;
	margin: 0 auto;
	/*background: transparent url(img/page-t.png) no-repeat bottom left;*/
	/*background: transparent url(img/usermanual.jpg) no-repeat top center;*/
	z-index: 10;
}
#top h1 {
	position: absolute;
	top: 30px;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 3.5em;
}
#top h1 a {
	color: #9ac528;
	text-decoration: none;
	display: inline-block;
	width: 208px;
	height: 100px;
	background: url(img/galette.png) top left no-repeat;
	text-indent: 210px;
	overflow: hidden;
}

#blogcustom {
    position: absolute;
    left: .5em;
    top: .5em;
}

#blogcustom .navlang ul, 
#blogcustom .navlang li {
    border: 0;
    margin: 0;
    padding: 0;
}

#blogcustom .navlang li {
    display: inline-block;
    padding: 0;
}

#blogcustom .navlang li a {
    display: inline-block;
    color: white;
    padding: 0 .5em;
}

#blogcustom .navlang li a:hover,
#prelude a:hover {
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

#blogcustom,
#prelude {
  z-index: 11;
}

#prelude {
	position: absolute;
	top: .5em;
	right: .5em;
	margin: 0;
	padding: 0;
	color: #ededed;
}
#prelude a {
	color: #ededed;
    text-decoration: none;
}

#wrapper {
	width: 980px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	background: #fff;
	border-radius: 6px;
}

#main {
  border-right: 1px solid #bfbfbf;
  margin-right: 250px;
  padding: 20px 0;
  font-size: 1.084em;
  line-height: 160%;
  position: relative;
  background: #fff;
  transform: translateX(0) translateZ(0);
  transition: transform .2s;
  will-change: transform;
  min-height: 600px;
}

#content {
	padding: 0 25px;
}

#sidebar {
  background: #fff;
  width: 200px;
  padding: 20px 25px;
  float: right;
}

#footer, #footer a {
    color: rgba(255,255,255,.7);
}

#footer {
	clear: both;
	/*background: transparent url(img/page-b.png) no-repeat top center;*/
    width: auto;
    margin: 3em auto 0;
}
#footer p {
	margin: 0;
	padding: .5em 2em;
	text-align: center;
    border-radius: 6px 6px 0 0;
}

/* Sidebar styles
-------------------------------------------------------- */
#sidebar .sidebar-wrapper {
  position: relative;
}

#sidebar h2 {
	margin: 0;
    text-shadow: 1px 1px 1px rgba(242,161,4,0.5);
    /*border-bottom: 1px #f2a104 solid;*/
    border-bottom: 1px #636B70 dotted;
    color: #636B70;
}
#sidebar h3 {
	margin: 1em 0 0.5em;
	color: #279ac4;
}

#sidebar div div {
	margin-bottom: 1.5em;
}

#sidebar ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
/*	border-top: 1px solid #F8C363;*/
}
#sidebar li {
	display: block;
	margin: 0;
	padding: 4px 0;
/*	border-bottom: 1px solid #F8C363;*/
}
#sidebar li a {
	color: #6B6B6B;
	text-decoration: none;
}
#sidebar li a:hover, #sidebar li a:focus, #sidebar li a:active {
	color: #9ac528;
}
#sidebar ul ul {
	list-style: disc;
	margin: 0;
	padding: 0 0 0 15px;
	border: none;
}
#sidebar li li {
	display: list-item;
	margin: 0.5em 0 0 0;
	padding: 0 0;
	border: none;
}

#sidebar .simple-menu li.li-last {
    background: url(img/icon-save.png) no-repeat 0 50%;
    padding-left: 20px;
}

#search fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
#q {
	border: 1px solid #bfbfbf;
	width: 150px;
	color: #6b6b6b;
}
#search .submit {
	padding: 0;
	border: 1px solid #fff;
	background: none;
	font-weight: bold;
	color: #6b6b6b;
	text-transform: uppercase;
}
#search .submit:hover {
	background: #9ac528;
	color: #fff;
	border: 1px solid #9ac528;
}

#topnav ul {
/*	border-bottom: 1px solid #F8C363;*/
	padding: 4px 0;
}
#topnav li {
	display: inline;
	border-bottom: none;
}

#sidebar .syndicate ul {
	border-top: none;
}
#sidebar .syndicate li {
	border-bottom: none;
}

#sidebar .categories li.category-current {
	font-weight: bold;
}
#sidebar .categories li.category-current li {
	font-weight: normal;
}

#sidebar .tags ul {
	border-top: none;
	font-size: 1.1em;
	text-align: justify;
}
#sidebar .tags ul li {
	display: inline;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1.8em;
}

.tag0 { font-size: 75%; }
.tag10 { font-size: 80%; }
.tag20 { font-size: 90%; }
.tag30 { font-size: 100%; }
.tag40 { font-size: 110%; }
.tag50 { font-size: 120%; }
.tag60 { font-size: 140%; }
.tag70 { font-size: 150%; }
.tag80 { font-size: 160%; }
.tag90 { font-size: 170%; }
.tag100 { font-size: 180%; }

ul.tags {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	font-size: 1.3em;
	text-align: justify;
}
ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 1.8em;
}


/* Main content styles
-------------------------------------------------------- */
h2, h3, h4 {
	margin: 1.25em 0 .3em;
	padding: 0;
    text-shadow: 1px 1px 1px rgba(242,161,4,0.5);
    color: #0486b5;
  line-height: 115%;
}

h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1em;
}

#subcategories {
	background: #fbfbfb;
	border-color: #BFBFBF;
	border-style: solid;
	border-width: 1px 0;
	margin: 1em 0;
	padding: 0.5em;
}
#subcategories h3 {
	margin: 0;
}
#subcategories ul {
	margin: 0.5em 0 0 0;
	padding: 0 0 0 20px;
	line-height: 1.4;
}

.day-date {
    visibility: hidden;
    display: none;
	/*font-size: 1em;
	margin: 0 0 0.5em;
	text-align: right;
	color: #279ac4;*/
}

.post {
	margin: 0 0 2em 0;
}
.post-title {
/*	color:#9ac528;*/
    text-shadow: 1px 1px 1px rgba(242,161,4, 0.5);
    border-bottom: 1px #f2a104 solid;
	font-size:1.7em;
    color: #636B70;
}
.post-title a {
    color: #6B6B6B;
    text-shadow: 1px 1px 1px rgba(242,161,4,0.5);
}
.post-title a:hover {
    text-decoration: none;
}
.post-info, .page-info {
	margin: 0;
    font-size: .9em;
    font-style: italic;
    margin-top: .2em;
    text-align:right;
}

.post-tags {
	list-style: none;
	margin: 1em 0 1em;
	padding: 3px 0;
}
.post-tags li {
	display: inline;
	margin-right: 8px;
	padding: 5px 0 5px 22px;
	background: transparent url(img/tag.png) no-repeat 0 70%;
}
.post-tags li a {
	color: #6b6b6b;
}

.post-info-co {
	clear: left;
	padding: 3px 0 3px 0.5em;
	border-width: 1px 0;
	border-style: solid;
	border-color: #bfbfbf;
	background: #fbfbfb;
}
.post-info-co a {
	color: #2b2b2b;
	padding: 2px 10px 2px 18px;
}

.comment_count {
	background: transparent url(img/comment.png) no-repeat 0 50%;
}
.ping_count {
	background: transparent url(img/trackback.png) no-repeat 0 50%;
}
.attach_count {
	background: transparent url(img/attach.png) no-repeat 0 50%;
}

.read-it {
	font-weight: bold;
	clear: left;
}

a.feed {
	background: transparent url(img/feed.png) no-repeat 0 0.25em;
	padding: 5px 0 5px 22px;
}

div:not(#news) > .post h2.post-title {
  margin-top: .5em;
}

.pagination a {
  display: inline-block;
  border: 1px solid #98dbcc;
  padding: .75em 1em;
  background: #f6f5f4;
  color: #636b70;
}

.pagination a:hover {
  background: #fff;
  text-decoration: none;
}

[class^="nav-button"] {
  display: none;
}
/* Post content
-------------------------------------------------------- */
.post-content, .post-excerpt, #comments dd, #pings dd, dd.comment-preview {
	line-height:1.4em;
    text-align:justify;
}
.post-content acronym, .post-excerpt acronym {
	cursor: help;
	border-bottom: 1px dotted #666;
}

.post-content pre, .post-excerpt pre {
	padding: 0 1em ;
	font: 1em 'courier new', courier, monospace;
    border: 1px dashed #C4C4C4;
    color: #666;
    overflow:auto;
    background-color: #EEFFCC;
}

.post-content ul, .post-excerpt ul, .post-content ol, .post-excerpt ol {
	margin: 0 0 0.5em 0;
	padding: 0 0 0 15px;
}

.post-content li, .post-excerpt li {
	margin: 0;
	padding: 0;
}

.post-content blockquote, .post-excerpt blockquote {
	margin: 4px 0 4px 0;
	padding: 0 5px;
	border-left: 4px solid #bfbfbf;
}


#attachments h3 {
	font-size: 1.2em;
}

#attachments ul {
	list-style: none;
	margin: 0;
	padding: 4px 0;
}

#attachments li {
	margin: 0 0 0.6em;
	padding: 2px 10px 2px 18px;
	background: transparent url(img/attach.png) no-repeat 0 50%;
}

#attachments li object {
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

/* Comments and trackbacks
-------------------------------------------------------- */
#comments {
	clear: both;
}
#comments h3, #comment-form h3, #pings h3 {
	border-width: 1px 0;
	border-style: solid;
	border-color: #bfbfbf;
	background: #fbfbfb;
	padding: 5px;
	margin: 20px 0 8px 0;
	font-size: 1.2em;
}

#comments dt {
	margin: 1.5em 0 0 0;
	padding: 5px 0 16px 0;
	background: transparent url(img/comment-t.png) no-repeat bottom left;
}
#comments dt.me {
	background-image: url(img/commentmy-t.png);
}
#comments a.comment-number {
	display: block;
	float: left;
	width: 30px;
	margin-right: 40px;
	font-size: 1.2em;
}
#comments dd {
	margin: 0;
	padding: 1px 1em 0.5em 1em;
	background: #fffad1 url(img/comment-b.png) no-repeat bottom left;
	color:#6b6b6b;
}
#comments dd.me {
	background-color:#f5f9d9;
	color:#6b6b6b;
	background-image:url(img/commentmy-b.png);
}
#comments dd p {
	margin: 0.5em 0;
	line-height: 1.5em;
}

.error {
	margin: 20px 0 0;
	padding: 10px 5px;
	background: #ffcccc;
	border: 2px solid red;
	font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
#comment-form {
	padding-top: 10px;
}

#comment-form fieldset {
	border: none;
}
#comment-form fieldset p {
	padding: 5px 0;
}
#comment-form fieldset p.field {
	padding: 5px 0;
	width: auto;
	margin: 0;
	clear: left;
}
#comment-form p.form-help {
	width: 60%;
	margin: 0 0 0 30%;
	font-style: italic;
}

#comment-form p label {
	width: auto;
}
#comment-form p.field label {
	font-weight: bold;
	display: block;
	padding: 0 1% 0 0;
	width: 29%;
	float: left;
	text-align: right;
}
#comment-form input, #comment-form textarea {
	font: 1em "Lucida Grande",Arial,sans-serif;
	color: #279ac4;
	border: 1px solid #cdcdcd;
	padding: 1px 2px;	
	width: 68%;
}

#comment-form p.remember {
	margin: 0;
}
#comment-form input#c_remember {
	width: auto;
	border: 0;
	margin: 0 5px 0 30%;
}
#comment-form input.preview {
	margin-left: 30%;
}

#comment-form input.preview, #comment-form input.submit {
	width: auto;
	color: #279ac4;
	background: #fff;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #fff;
}
#comment-form input.preview:hover, #comment-form input.submit:hover {
	background: #6d8824;
	color: #fff;
	border: 1px solid #6d8824;
}

div.admonition {
    color: black;
    padding:1em;
    margin:.5em auto;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

div.admonition p{
    margin:0;
    text-align: center;
}

p.admonition-title {
    font-weight:bold;
    font-size:1.3em;
}

div.admonition-a-faire {
    background-color: rgba(255,255,0,0.5);
}

div.note {
    background-color: rgba(248, 195, 99, 0.5);
}

div.warning {
    background-color: rgba(255,0,0,0.5);
}

.warning .admonition-title,
.note .admonition-title,
.admonition-a-faire .admonition-title {
    background-position: left top, right top;
    background-repeat: no-repeat;
    padding:.3em 0;
}

.warning .admonition-title {
    background-image:url(img/warning.png), url(img/warning.png);
}

.note .admonition-title {
    background-image:url(images/info.png), url(images/info.png);
}

.admonition-a-faire .admonition-title {
    background-image:url(images/todo.png), url(images/todo.png);
}

#paypal {
    text-align: center;
}

/** Mobile devices */
@media (max-width: 767px) {
    [class^="nav-button"] {
      display: block;
      width: 75px;
      height: 60px;
      z-index: 200;
      cursor: pointer;
      -webkit-tap-highlight-color:rgba(0,0,0,0);
      position: absolute;
      top: 15px;
      font-size: 32.5px;
      color: #fff;
      text-decoration: none;
      text-align: center;
    }

    a.nav-button-close,
    a.nav-button-open {
      color: #fff;
      text-decoration: none;
    }

    /* here's goes the push left effect */
    div#page:target #main {
      /* same as #content margin-left */
      transform: translateX(230px);
    }
    .nav-button-close,
    div#page:target .nav-button-open {
      display: none;
    }
    .nav-button-open,
    div#page:target .nav-button-close {
      display: block;
    }

    #main {
      margin-right: 0;
    }

    #sidebar {
      float: none;
      position: absolute;
      padding-top: 37px;
    }

    #blogcustom {
      left: auto;
      right: .5em;
    }

    #prelude {
      display: none;
    }

    .pagination {
      text-align: center;
    }
    .pagination a {
      display: block;
    }
    .pagination a.prev {
      text-align: left;
    }
    .pagination a.next {
      text-align: right;
    }
}

@media (max-width: 979px) {
    #wrapper {
      width: auto;
    }

    #top {
      height: 100px;
    }

    #top h1 {
      position: relative;
      top: 30px;
    }

    #wrapper {
      border-radius: 0;
    }

    #footer {
      margin-top: .5em;
    }

    #content {
      padding: 0 25px;
    }

    .post-content p > img {
      float: none!important;
      margin: 0 auto!important;
      max-width: 100%;
      height: auto;
    }
}

@media screen and (max-width:767px) and (orientation: landscape) {
    body {
        -webkit-text-size-adjust: 70%;
    }
}
