<div id="footer">
  <p>
    {{tpl:SysPoweredBy}} - Theme by <a href="http://ulysses.fr">Johan Cwiklinski</a><br/>
    <a href="https://twitter.com/galette_soft">Twitter</a> - <a href="https://framapiaf.org/@galette">Mastodon</a>
  </p>
</div>

{{tpl:SysBehavior behavior="publicFooterContent"}}
