<link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{tpl:BlogThemeURL}}/print.css" media="print" />

<script type="text/javascript" src="{{tpl:BlogQmarkURL}}pf={{tpl:BlogJsJQuery}}/jquery.js"></script>
<script type="text/javascript" src="{{tpl:BlogQmarkURL}}pf={{tpl:BlogJsJQuery}}/jquery.cookie.js"></script>
<script type="text/javascript" src="{{tpl:BlogThemeURL}}/js/underscore-min.js"></script>
<script type="text/javascript" src="{{tpl:BlogThemeURL}}/js/intelligentscroll.js"></script>

{{tpl:include src="user_head.html"}}
{{tpl:SysBehavior behavior="publicHeadContent"}}
