<div id="top">
  <h1><span><a href="{{tpl:BlogURL}}">{{tpl:BlogName encode_html="1"}}</a></span></h1>
  <!-- # --BEHAVIOR-- publicTopAfterContent -->
  {{tpl:SysBehavior behavior="publicTopAfterContent"}}
</div>

<div id="blogcustom">
  {{tpl:Widgets type="custom"}}
</div>
<p id="prelude">
  <a href="#main">{{tpl:lang To content}}</a> |
  <a href="#blognav">{{tpl:lang To menu}}</a> |
  <a href="#search">{{tpl:lang To search}}</a>
</p>
