<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  <meta name="viewport" content="width=device-width" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  
  <tpl:Archives>
    <link rel="chapter" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" />
  </tpl:Archives>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-archive">
<div id="page">
  <a href="#page" class="nav-button-open" aria-label="open navigation">&#9776;</a>
  <a href="#" class="nav-button-close" aria-label="close navigation">&#10761;</a>

{{tpl:include src="_top.html"}}

<div id="wrapper">

<div id="sidebar">
  <div class="sidebar-wrapper">
    <div id="blognav">
      {{tpl:Widgets type="nav"}}
    </div> <!-- End #blognav -->
    
    <div id="blogextra">
      {{tpl:Widgets type="extra"}}
    </div> <!-- End #blogextra -->
  </div>
</div>

<div id="main">
  <div id="content">
  
  <div id="content-info">
    <h2>{{tpl:lang Archives}}</h2>
  </div>
  
  <div class="content-inner">
  <tpl:Archives>
    <tpl:ArchivesYearHeader>
      <h3>{{tpl:ArchiveDate format="%Y"}}</h3>
      <ul>
    </tpl:ArchivesYearHeader>
      <li><a href="{{tpl:ArchiveURL}}"
      title="{{tpl:ArchiveDate encode_html="1"}}">{{tpl:ArchiveDate encode_html="1" format="%B"}}</a>
      ({{tpl:ArchiveEntriesCount}})</li>
    <tpl:ArchivesYearFooter>
      </ul>
    </tpl:ArchivesYearFooter>
  </tpl:Archives>
  </div>
  
  </div>
</div> <!-- End #main -->

</div> <!-- End #wrapper -->

{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>
