<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
  
  <title>{{tpl:lang Archives}} - {{tpl:ArchiveDate}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Archives}} - {{tpl:ArchiveDate}} - {{tpl:BlogName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  <meta name="viewport" content="width=device-width" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="up" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  
  <tpl:ArchiveNext><link rel="next" href="{{tpl:ArchiveURL}}"
  title="{{tpl:ArchiveDate encode_html="1"}}" /></tpl:ArchiveNext>
  <tpl:ArchivePrevious><link rel="prev" href="{{tpl:ArchiveURL}}"
  title="{{tpl:ArchiveDate encode_html="1"}}" /></tpl:ArchivePrevious>
  
  <tpl:Entries no_content="1">
  <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-archive-month">
<div id="page">
  <a href="#page" class="nav-button-open" aria-label="open navigation">&#9776;</a>
  <a href="#" class="nav-button-close" aria-label="close navigation">&#10761;</a>

{{tpl:include src="_top.html"}}

<div id="wrapper">

<div id="sidebar">
  <div class="sidebar-wrapper">
    <div id="blognav">
      {{tpl:Widgets type="nav"}}
    </div> <!-- End #blognav -->
    
    <div id="blogextra">
      {{tpl:Widgets type="extra"}}
    </div> <!-- End #blogextra -->
  </div>
</div>

<div id="main">
  <div id="content">
  
  <p id="navlinks">
  <tpl:ArchivePrevious><a href="{{tpl:ArchiveURL}}" class="prev">&#171; {{tpl:ArchiveDate encode_html="1"}}</a>
  - </tpl:ArchivePrevious>
  <a href="{{tpl:BlogArchiveURL}}">{{tpl:lang Archives}}</a>
  <tpl:ArchiveNext> - <a href="{{tpl:ArchiveURL}}" class="next">{{tpl:ArchiveDate encode_html="1"}} &#187;</a></tpl:ArchiveNext>
  </p>
  
  <div id="content-info">
    <h2>{{tpl:ArchiveDate}}</h2>
  </div>
  
  <div class="content-inner">
  <tpl:Entries no_content="1">
    <!-- # New day date -->
    <tpl:DateHeader><p class="day-date">{{tpl:EntryDate}}</p></tpl:DateHeader>
    
    <h2 id="p{{tpl:EntryID}}" class="post-title" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}"><a
    href="{{tpl:EntryURL}}" title="{{tpl:lang Read}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:EntryTitle encode_html="1"}}</a></h2>
    
    <p class="post-info">{{tpl:lang By}} {{tpl:EntryAuthorLink}}
    <tpl:EntryIf show_comments="1">
    - <a href="{{tpl:EntryURL}}#comments">{{tpl:EntryCommentCount}}</a>
    </tpl:EntryIf>
    <tpl:EntryIf show_pings="1">
    - <a href="{{tpl:EntryURL}}#pings">{{tpl:EntryPingCount}}</a></tpl:EntryIf>
    <tpl:EntryIf has_attachment="1">
    - <a href="{{tpl:EntryURL}}#attachments">{{tpl:EntryAttachmentCount}}</a></tpl:EntryIf>
    </p>
  </tpl:Entries>
  </div>
  </div>
</div> <!-- End #main -->

</div> <!-- End #wrapper -->

{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>
