<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}" />
  
  <title>{{tpl:lang Search}} - {{tpl:SysSearchString encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Search}} - {{tpl:SysSearchString encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  <meta name="viewport" content="width=device-width" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:Entries no_content="1">
    <tpl:EntriesHeader>
      <tpl:Pagination>
        <tpl:PaginationIf end="0">
        <link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
        </tpl:PaginationIf>
        
        <tpl:PaginationIf start="0">
        <link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
        </tpl:PaginationIf>
      </tpl:Pagination>
    </tpl:EntriesHeader>
    
    <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  
  <link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-search">
<div id="page">
  <a href="#page" class="nav-button-open" aria-label="open navigation">&#9776;</a>
  <a href="#" class="nav-button-close" aria-label="close navigation">&#10761;</a>

{{tpl:include src="_top.html"}}

<div id="wrapper">

<div id="sidebar">
  <div class="sidebar-wrapper">
    <div id="blognav">
      {{tpl:Widgets type="nav"}}
    </div> <!-- End #blognav -->
    
    <div id="blogextra">
      {{tpl:Widgets type="extra"}}
    </div> <!-- End #blogextra -->
  </div>
</div>

<div id="main">
  <div id="content">
  
  <div id="content-info">
    <h2>{{tpl:lang Search}}</h2>
    <tpl:SysIf search_count="==0">
      <p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned no result."}}</p>
    </tpl:SysIf>
    <tpl:SysIf search_count="==1">
      <p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> result."}}</p>
    </tpl:SysIf>
    <tpl:SysIf search_count="&gt;1">
      <p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> results."}}</p>
    </tpl:SysIf>
  </div>
  
  <tpl:Entries>
    <div id="p{{tpl:EntryID}}" class="post {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">
    <!-- # New day date -->
    <tpl:DateHeader><p class="day-date">{{tpl:EntryDate}}</p></tpl:DateHeader>
    
    <h2 class="post-title"><a
    href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></h2>
    
    <p class="post-info">{{tpl:lang By}} {{tpl:EntryAuthorLink}}
    {{tpl:lang on}} {{tpl:EntryDate}}, {{tpl:EntryTime}}
    <tpl:EntryIf has_category="1">
    - <a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory encode_html="1"}}</a>
    </tpl:EntryIf>
    </p>
    
    <tpl:EntryTags>
    <tpl:TagsHeader><ul class="post-tags"></tpl:TagsHeader>
    <li><a href="{{tpl:TagURL}}">{{tpl:TagID}}</a></li>
    <tpl:TagsFooter></ul></tpl:TagsFooter>
    </tpl:EntryTags>
    
    <!-- # --BEHAVIOR-- publicEntryBeforeContent -->
    {{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
    
    <!-- # Entry with an excerpt -->
    <tpl:EntryIf extended="1">
      <div class="post-content">{{tpl:EntryExcerpt}}</div>
      <p class="read-it"><a href="{{tpl:EntryURL}}"
      title="{{tpl:lang Continue reading}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:lang Continue
      reading}}</a>...</p>
    </tpl:EntryIf>
    
    <!-- # Entry without excerpt -->
    <tpl:EntryIf extended="0">
      <div class="post-content">{{tpl:EntryContent}}</div>
    </tpl:EntryIf>
    
    <!-- # --BEHAVIOR-- publicEntryAfterContent -->
    {{tpl:SysBehavior behavior="publicEntryAfterContent"}}
    
    <!-- # Number of comments, trackbacks and attachments -->
    <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
      <p class="post-info-co">
    </tpl:EntryIf>
    <tpl:EntryIf show_comments="1">
      <a href="{{tpl:EntryURL}}#comments" class="comment_count">{{tpl:EntryCommentCount}}</a>
    </tpl:EntryIf>
    <tpl:EntryIf show_pings="1">
      <a href="{{tpl:EntryURL}}#pings" class="ping_count">{{tpl:EntryPingCount}}</a></tpl:EntryIf>
    <tpl:EntryIf has_attachment="1">
      <a href="{{tpl:EntryURL}}#attachments" class="attach_count">{{tpl:EntryAttachmentCount}}</a></tpl:EntryIf>
    <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
      </p>
    </tpl:EntryIf>
    </div>
    
    <tpl:EntriesFooter>
      <tpl:Pagination>
        <p class="pagination"><tpl:PaginationIf end="0"><a href="{{tpl:PaginationURL offset="+1"}}" class="prev">&#171;
        {{tpl:lang previous entries}}</a> - </tpl:PaginationIf>
        {{tpl:lang page}} {{tpl:PaginationCurrent}} {{tpl:lang of}} {{tpl:PaginationCounter}}
        <tpl:PaginationIf start="0"> - <a href="{{tpl:PaginationURL offset="-1"}}" class="next">{{tpl:lang next entries}}
        &#187;</a></tpl:PaginationIf></p>
      </tpl:Pagination>
    </tpl:EntriesFooter>
  </tpl:Entries>
  </div>
</div> <!-- End #main -->

</div> <!-- End #wrapper -->

{{tpl:include src="_footer.html"}}
</div> <!-- End #page -->
</body>
</html>
